<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @game.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @game.price %>
</p>

<p>
  <strong>Type:</strong>
  <%= @game.type %>
</p>

<%= link_to 'Edit', edit_product_path(@game) %> |
<%= link_to 'Destroy', @game, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Consoles List', consoles_path %> |
<%= link_to 'Games List', games_path %> |
<%= link_to 'Products List', products_path %>

